<div class="container">
  <h2 class="mb-4 mt-4 text-center">Véradások</h2>
  <app-donation-filter (donationsChangeEvent)="donations = $event"></app-donation-filter>
  <hr>
  <div class="row" *ngIf="donations.length == 0">
    <div class="col-md-12"><i>Nincs találat.</i></div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
    <div class="col" *ngFor="let donation of donations">
      <div class="card h-100 text-light" [class.bg-danger]="!donation.eligible" [class.bg-success]="donation.eligible">
        <div class="card-header text-center">{{ formatDate(donation.date) }}</div>
        <div class="card-body bg-light text-dark">
          <h5 class="card-title">{{donation.donor!.name}}</h5>
          <h6 class="card-title">{{donation.place!.name}}</h6>
          <div class="card-text">TAJ szám: {{formatSocialSecurity(donation.donor!.socialSecurity)}}</div>
          <div class="card-text">{{donation.doctor}} által <b>{{donation.eligible ? 'alkalmasnak' : 'alkalmatlannak'}}</b> ítélve. </div>
          <div class="card-text" *ngIf="!donation.eligible">Indoklás: {{donation.reason}}</div>
          <div class="card-text" *ngIf="donation.directed">Irányított véradás {{donation.beneficiary!.name}} ({{formatSocialSecurity(donation.beneficiary!.socialSecurity)}}) részére.</div>
        </div>
        <div class="card-footer text-center">{{donation.eligible ? 'Sikeres' : 'Sikertelen'}} véradás</div>
      </div>
    </div>
  </div>
</div>
