<div class="container">
  <h2 class="mb-3 text-center">Új véradó felvétele</h2>
  <form [formGroup]="donorForm">
    <div class="form-group mb-1">
      <label for="name">Név</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <div class="text-danger form-text" *ngIf="donorForm.get('name')?.invalid && donorForm.get('name')?.dirty">{{errorMessage.name}}</div>
    </div>
    <div class="row mb-1">
      <div class="col-md-6">
        <div class="form-group">
          <label for="gender">Nem</label>
          <select class="form-control form-select" id="gender" formControlName="gender">
            <option *ngFor="let option of genderOptions" [value]="option">{{ option }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="citizenship">Állampolgárság</label>
          <input type="text" class="form-control" id="citizenship" formControlName="citizenship">
          <div class="text-danger form-text" *ngIf="donorForm.get('citizenship')?.invalid && donorForm.get('citizenship')?.dirty">{{errorMessage.citizenship}}</div>
        </div>
      </div>
    </div>
    <div class="form-group mb-1">
      <label for="address">Lakcím</label>
      <input type="text" class="form-control" id="address" formControlName="address">
      <div class="text-danger form-text" *ngIf="donorForm.get('address')?.invalid && donorForm.get('address')?.dirty">{{errorMessage.address}}</div>
    </div>
    <div class="row mb-1">
      <div class="col-md-6">
        <div class="form-group">
          <label for="birthPlace">Születési hely</label>
          <input type="text" class="form-control" id="birthPlace" formControlName="birthPlace">
          <div class="text-danger form-text" *ngIf="donorForm.get('birthPlace')?.invalid && donorForm.get('birthPlace')?.dirty">{{errorMessage.birthPlace}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="birthDate">Születési idő</label>
          <input type="date" class="form-control" id="birthDate" formControlName="birthDate" max="{{ maxDate }}">
          <div class="text-danger form-text" *ngIf="donorForm.get('birthDate')?.invalid">{{errorMessage.birthDate}}</div>
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="socialSecurity">TAJ szám</label>
      <input type="text" class="form-control" id="socialSecurity" formControlName="socialSecurity">
      <div class="text-danger form-text" *ngIf="donorForm.get('socialSecurity')?.invalid && donorForm.get('socialSecurity')?.dirty">{{errorMessage.socialSecurity}}</div>
    </div>
    <div class="row mb-2 align-items-center">
      <div class="col-md-6"></div>
      <div class="col-md-6 d-flex justify-content-end">
        <button type="submit" class="btn btn-custom" (click)="save()">Létrehoz</button>
      </div>
    </div>
  </form>
</div>

