<h2 class="mb-3 mt-3 text-center">Új beteg felvétele</h2>
<form [formGroup]="beneficiaryForm">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group mb-1">
        <label for="name">Név</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <div class="text-danger form-text"
          *ngIf="beneficiaryForm.get('name')?.invalid && beneficiaryForm.get('name')?.touched">
          {{errorMessage.name}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group mb-1">
        <label for="socialSecurity">TAJ szám</label>
        <input type="text" class="form-control" id="socialSecurity" formControlName="socialSecurity">
        <div class="text-danger form-text"
          *ngIf="beneficiaryForm.get('socialSecurity')?.invalid && beneficiaryForm.get('socialSecurity')?.touched ">
          {{errorMessage.socialSecurity}}
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-2">
    <button type="submit" class="btn btn-custom" (click)="saveBeneficiary()">Mentés</button>
  </div>
</form>
