/* You can add global styles to this file, and also import other style files */
html{
  --mainColor: #900C3F;
  --darkColor: #64082B;
  --lightColor: #fbfbfb;
  --hoverColor: #eac5d3;
}
a {
  cursor: pointer;
}

.form-check-input{
  cursor: pointer;
}
.form-check-input:checked{
  background-color: var(--mainColor);
  border: 0;
  box-shadow: none !important;
}
.form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
  color: var(--darkColor);
  outline: 0;
  border: 0;
  box-shadow: 0 0 0.2rem 0.1rem var(--mainColor);
}

.btn-custom{
  background-color: var(--mainColor) !important;
  color: var(--lightColor);
}

.btn-custom:hover{
  color: var(--lightColor);
  box-shadow: inset 0 0 0 20rem var(--darkColor);
}

.bg-custom{
  background-color: var(--mainColor);
}

.text-custom{
  color: var(--mainColor);
}

.hoverable:hover{
  background-color: var(--hoverColor);
}

.form-control:focus {
  border-color: var(--hoverColor);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--hoverColor);
}

input[type="date"]::-webkit-clear-button {
  display: none;
}

.highlighted{
  font-weight: 500;
}

/*.card-header{
  background-color: var(--hoverColor);
}*/

