<nav class="navbar navbar-expand-md navbar-dark p-2 sticky-top bg-custom">
  <a class="navbar-brand ms-4 me-4" href="#">Véradás nyilvántartó</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" (click)="isMenuCollapsed = !isMenuCollapsed" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon" ></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="navbarNav" >
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="nav-link" [class.active]="isActiveRoute('centers')"  routerLink="/centers">Helyszínek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="isActiveRoute('donors')"  routerLink="/donors">Véradók</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="isActiveRoute('donations') || isActiveRoute('')" routerLink="/donations">Véradások</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" [class.active]="isActiveRoute('registerDonation')" routerLink="/registerDonation">Véradás felvétele</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
        <a class="nav-link" [class.active]="isActiveRoute('login')" routerLink="/login">Bejelentkezés</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
        <a class="nav-link" [class.active]="isActiveRoute('register')" routerLink="/register">Regisztráció</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" (click)="logout()">Kilépés</a>
      </li>
    </ul>
  </div>
</nav>
<main class="container mb-5">
  <router-outlet/>
</main>
<footer class="footer fixed-bottom p-1 bg-light">
  <div class="container d-flex justify-content-center">
    <span class="small mb-1 text-custom">Palencsár Enikő - YD11NL - Informatikai rendszerek építése - 2024. tavasz - 11. feladat </span>
  </div>
</footer>
