<div class="container">
  <h2 class="mb-4 text-center">Helyszínek</h2>
  <div class="row" *ngIf="centers.length == 0">
    <div class="col-md-12"><i>Nincs találat.</i></div>
  </div>
  <div class="row" *ngIf="centers.length > 0">
    <div class="row justify-content-md-center" style="font-weight: bold; font-size: large;">
      <div class="col-md-2">Id</div>
      <div class="col-md-4">Név</div>
      <div class="col-md-4">Cím</div>
      <div class="col-md-2 text-center" *ngIf="authService.isLoggedIn()">Módosít</div>
      <div class="col-md-2 text-center" *ngIf="!authService.isLoggedIn()">Aktivitás</div>
      <span class="border-bottom mt-2 mb-3"></span>
    </div>

    <div class="row mb-1 justify-content-md-center align-items-center" *ngFor="let center of centers">
      <div class="col-md-2" [class.opacity-25]="!center.isActive">{{ center.institutionId }}</div>
      <div class="col-md-4" [class.opacity-25]="!center.isActive">{{ center.name }}</div>
      <div class="col-md-4" [class.opacity-25]="!center.isActive">{{ center.address }}</div>
      <div class="col-md-2 d-flex justify-content-center p-1" *ngIf="authService.isLoggedIn()">
        <button class="btn w-100" [class.btn-danger]="center.isActive" [class.btn-success]="!center.isActive"
        (click)="toggleActive(center)">{{ center.isActive ? 'Inaktivál' : 'Aktivál' }}</button>
      </div>
      <div class="col-md-2 text-center" *ngIf="!authService.isLoggedIn()" [class.opacity-25]="!center.isActive">{{ center.isActive ? 'Aktív' : 'Inaktív' }}</div>
    </div>
  </div>

</div>

