<div class="container">
  <h2 class="mb-3 text-center">Új helyszín felvétele</h2>
  <form [formGroup]="centerForm">
    <div class="row mb-1">
      <div class="col-md-4">
        <div class="form-group mb-1">
          <label for="institutionId">Azonosító</label>
          <input type="text" class="form-control" id="institutionId" formControlName="institutionId">
          <div class="text-danger form-text" *ngIf="centerForm.get('institutionId')?.invalid && centerForm.get('institutionId')?.dirty">{{errorMessage.id}}</div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group mb-1">
          <label for="name">Név</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          <div class="text-danger form-text" *ngIf="centerForm.get('name')?.invalid && centerForm.get('name')?.dirty">{{errorMessage.name}}</div>
        </div>
      </div>
      <div class="form-group mb-2">
        <label for="address">Cím</label>
        <input type="text" class="form-control" id="address" formControlName="address">
        <div class="text-danger form-text" *ngIf="centerForm.get('address')?.invalid && centerForm.get('address')?.dirty">{{errorMessage.address}}</div>
      </div>
      <div class="row mb-2 align-items-center">
        <div class="col-md-6">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isActive" formControlName="isActive">
            <label class="form-check-label" for="isActive">Aktív</label>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
          <button type="submit" class="btn btn-custom" (click)="saveCenter()">Mentés</button>
        </div>
      </div>
    </div>
  </form>
</div>
